.img1{
	width:20px;
	height:20px;
	float:left;
	clear:both;
}
.nav2{
	padding-top:10px;
	color:#ffffff;
	background-color:#002575;
	height:50px;
}
.nav3{
background-color:#ccc;	
height:40px;
}
.live{
background-color:#00b1e2;
font-size: 10px;
 padding: 10px;
padding-bottom: 19px;
}
.nav3img{
	width:40px;
	height:40px;
}
.orkid{
	width:20px;
	height:20px;	
}
.orkid2{
	width:35px;
	height:30px;

}
.img{
width:40px;
height:40px;
float:left;	
padding-left:10px;
}
.imgur{
margin-top:6px;
float:right;	
padding-left:10px;	
}
.dag{
margin-top:px;
width:100%;
height:2px;
float:right;
background-color:silver;	
}
.n{
margin-top:40px;
}
.m{
margin-top:25px;	
}
.black{
background-color:#202020;	
color:white;
padding-top:50px;
padding-bottom:50px;
}
.shorboshesh{
margin-top:30px;
padding-top:50px;
padding-bottom:100px;	
}
.ficar{
margin-top:40px;	
}
.galary{
background-color:#202020;	
color:white;
padding-top:50px;
padding-bottom:50px;	
}
.bishesh{
margin-left:18px;
}
.bai{
	display:block;
	
}


